body {
    font-family: "roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.intro {
    background-color: #1f2937;
    padding: 4px 80px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
    margin: 8px;
}

.intro-card {
    color: white;
    display: flex;
    padding-bottom: 60px;
    padding-top: 60px;

    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-intro {
    flex-shrink: 0;
    width: 400px;
}

.intro-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 4px;
    
}

.intro-desc,
.links {
    font-size: 18px;
    color: #e5e7eb;
}


img {
    width: 500px;
    height: 200px;
    align-self: center;
    margin-left: 8px;
    border-radius: 15px;
}

.intro-card button {
    color: white;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    padding: 8px 16px;
}

.subheading {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.feature-panel img {
    width: 150px;
    height: 150px;
    border: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: #3882f6;
}

.item-reel {
    display: flex;
    justify-content: center;
}

.info-item {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    width: 150px;
}

.info-item p {
    text-align: center;
    color: #686868;
}