body {
    font-family: "roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: #245293;                                                                                                                                                                                                   
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 80px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: white;
    margin: 8px;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}

.calc-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
    max-width: fit-content;
    background-color: #1f2937;
    border: none;
    border-radius: 8px;
    width: 900px;
    padding: 8px 80px;
}


.input-cluster {
    margin-top: 16px;
    display: flex;
}

select,
input {
    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 7px;
    border-radius: 5px;
    border: none;
}

#distance {
    margin-right: 0px;
}

.calc-logo {
    width: 200px;
    border: solid;
    border-radius: 8px;
    border-color: #245293;
    margin-top: 50px;
}

.result {
    color: #f9faf8;
    margin-top: 40px;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    padding: 8px 16px;
    margin-top: 50px;
    margin-bottom: 16px;
    width: fit-content;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color: #f9faf8;
    padding-top: 16px;
    padding-bottom: 16px;
}